{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
    <h1>Объявления</h1>
    {% if request.user.is_authenticated %}
        <p class="text-left"><a href="{% url 'post_create' %}" class="btn btn-secondary btn-sm">Создать новое</a></p>
    {% endif %}
    <hr>
{% if posts %}
    <table cellspacing="15" cellpadding="10" border="1">
        <tr>
            <td><b>Дата создания</b></td>
            <td><b>Категория</b></td>
            <td><b>Автор</b></td>
            <td><b>Заголовок</b></td>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post.created|date:"d M Y" }}</td>
            <td><a href="{% url 'category_list' post.category %}">{{ post.get_category_display }}</a></td>
            <td>{{ post.author.username }}</td>
            <td><a href="{% url 'post_details' post.id %}">{{ post.title|censor }}</a></td>
        </tr>
        {% endfor %}
    </table>

{% else %}
  <h2>Объявлений нет</h2>
{% endif %}

<p></p>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{% url_replace page=1 %}">&laquo; first</a>
            {% if page_obj.previous_page_number != 1 %}
                <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}

        <span class="current">
            {% if  page_obj.paginator.num_pages != 1 %}
                {{ page_obj.number }}
            {% endif %}
        </span>

        {% if page_obj.has_next %}
            <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
            {% if page_obj.paginator.num_pages != page_obj.next_page_number %}
                <a href="?{% url_replace page=page_obj.paginator.num_pages %}">last &raquo;</a>
            {% endif %}
        {% endif %}
    </span>
</div>
{% endblock content %}